/*Global CSS*/

:root::-webkit-scrollbar{
    display: none;
}
  
:root {
    scrollbar-width: none;
    -ms-overflow-style: none;
}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: "Poppins", sans-serif;
}


.container{
    width: 75%;
    margin: 0 auto;
    max-width: 1200px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: 16px;
}

h1,h2,h3,h4 {
    color: #13191F;
}

p, a{
    color: #13191F;
    font-weight: 200;
    max-width: 700px;
}


/*Styles*/

h1{
    font-size: 40px;
    line-height: 62px;
    font-weight: 700;
    max-width: 900px;
}

h2{
    font-size: 32px;
    font-weight: 200;
}

h3{
    color: #a8a8a8;
}

h4{
    font-size: 16px;
    font-weight: 300;
}

h5{
    font-size: 16px;
    color: #a8a8a8;
    font-weight: 50;
}

/*Navigation*/

nav{
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    background: rgba(245, 245, 245, 0.90);
    backdrop-filter: blur(7.5px);
}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div a{
    display: flex;
    align-items: center;
    gap: 16px;
}

nav a img{
    max-width: 48px;
}

nav a div{
    display: flex;
    flex-direction: column;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
    color: #13191F;
    list-style: none;
}

nav li a{
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
    transition: color 3.9s ease;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

ul li a,
ul li a:after { 
   position: relative;
}

ul li a:after {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   width: 0%;
   content: '.';
   color: transparent;
   background: #aaa;
   height: 1px;
 }
 ul li a:hover:after {
   width: 100%;
}
 

/*Main*/

main{
    margin-top: 167px;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}


.btn-secondary {
    /* Base styles (adjust as needed) */ /* Adjust padding */
    cursor: pointer;
    border: none;
    background-color: transparent; /* For hover effect */
    color: #13191F;
    font-weight: 200;
    transition: color 3.9s ease; /* Same transition as links (optional) */
  
    /* Text positioning (optional) */
    display: flex;
    align-items: center;
    flex-direction: column; /* Center text vertically */
  
    /* Create an element for the underline effect */
    &::after {
      content: '';
      position: relative;

      bottom: 0; /* Position underline at the bottom */
      left: 0;
      right: 0;
      margin: auto;
      width: 0; /* Initially hidden */
      height: 1px; /* Underline thickness */
      background-color: #aaa; /* Same color as link underline (optional) */
      transition: width 0.5s ease; /* Same transition as links (optional) */
    }
  }
  
  .btn-secondary:hover::after {
    width: 100%; /* Expand underline on hover */
}
  



.btn-primary {
    /* Base styling */
    padding: 15px 15px; /* Adjust padding as needed */
    background-color: transparent; /* Start with no background color */
    padding: 12px 32px;
    border: 1px solid #13191F;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    position: relative;
  
    /* Create a pseudo-element for the fill effect */
    
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);  /* Center the element */
      border-radius: 4px;
      width: 0; /* Initially hidden */
      height: 102%; /* Start filling from the center */
      background-color: #FFBC66; /* Choose your fill color */
      transition: width 0.4s ease, height 0.1s ease; /* Animate both width & height */
    }
  
    /* Ensure text is above the pseudo-element */
    a {
      position: relative;
      z-index: 3; /* Higher than the fill for visibility */
      padding: 20px 0;
    }
  
    /* Hover effect */
    &:hover::before {
      width: 100%; /* Expand width beyond 100% for diagonal fill */
       /* Expand height beyond 100% for diagonal fill */
    }
}
  




.typewrite > .wrap {
    border-right: 0.08em solid #000000;
  }
  
.typewrite > .wrap::after {
    /* Adjust position to the right */
    position: absolute;
    right: 0;
  }

h1 .typewrite{
    font-weight: 700;
}

.text-wrap div{
    display: flex;
    flex-wrap: wrap;
}

.text-wrap h1{
    margin-right: 12px;
}


.scroll {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #000000 20%,  
    #000000 80%, transparent)
    }

.scroll div{
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
}

.scroll div:nth-child(2)
{
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}

@keyframes animate 
{
    0%
    {
    transform: translateX(100%);
    }
    100%
    {
    transform: translateX(-100%);
    }
}

@keyframes animate2
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translatex(-200%);
    }
}

.scroll div span {
    display: flex;
    margin: 10px;
    background:
    #333;
    color:
    #fff;
    padding: 50px 10px;
    border-radius: 5px;
    transition: 0.5;
}

.imgbx img {
    max-width: 250px;
}

.banner{
    margin-top: 160px;
}

.preview-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin: 48 0;
    width: 100%;
    gap: 32px;
}

.preview-box a {
    position: relative; /* Needed for proper overlay positioning */
    background-color: #F5F5F5; /* Base background color */
    display: flex;
    justify-content: center;
    min-width: 380px;
    height: 380px;
    flex: 1;
    transition: background-color 0.5s ease; /* Transition for background color */
}
  
.preview-box a:hover {
    background-color: transparent; /* Remove hover color for styling with nth-child */
}
  
  /* Define hover colors using nth-child selector (optional) */
.preview-box a:nth-child(1):hover {
    background-color: #178783; /* Hover color for 1st card (optional) */
}
  
.preview-box a:nth-child(2):hover {
    background-color: 6CB4F5; /* Hover color for 2nd card (optional) */
}
  
.preview-box a:nth-child(3):hover {
    background-color: #A2559C; /* Hover color for 3rd card (optional) */
}
  
.preview-box a:nth-child(4):hover {
    background-color: #B28C60; /* Hover color for 4th card (optional) */
}
  
/* Styles for the overlay element */
.preview-box a .overlay {
    position: absolute; /* Position overlay on top of the image */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 25, 31, 0.5); /* Black color with 70% opacity */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    color: #ffffff; /* White text color */
}

.overlay h4,
.overlay h5{
    color: white;
}

.overlay .text-wrap{
    margin: 16px;
    max-width: 75%;
}


  
.preview-box a:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}
  
.preview-box a .overlay h2,
.preview-box a .overlay p {
    margin: 0; /* Remove default margins */
    text-align: center; /* Center text within overlay */
}

.project-header{
    position: sticky;
    top: 99px;
    display: flex;
    width: 100%;
    height: 430px;
    background-color: #178783;
    z-index: -1;
}

.breadcrumb{
    display: flex;
    align-items: center;
    gap: 8px;
}

.projectdetails{
    margin-top: 100px;
    margin-bottom: 0px;
}

.project-header img{
    scale: 1.8;
    width: 100%;
    object-fit: contain;
}

.project-info{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-color: white;
}

.overview{
    padding: 64px 0 80px 0;
}

.overview p{
    margin: 24px 0 24px 0;
}

.summary{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    gap: 24px;
}

.summary div {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    gap: 8px;
}

.summary img{
    display: flex;
    width: 180px;
    margin: 8px 0 8px 0;
}

.summary span{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 8px;
}

span h4{
    display: flex;
    max-width: fit-content;
    border: 1px solid #13191F;
    border-radius: 28px;
    padding: 4px 24px;
}


.text-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 160px 0 160px 0;
}

.project-info .text-wrapper div{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

ol {
    list-style-type: circle;
    font-weight: 200;
}


ol li:not(:last-child) {
    margin-bottom: 8px;
}


h3{
    display: flex;
    max-width: 340px;
    margin-right: 24px;
    min-width: 180px;
    color: #13191F;
}

.project-info p{
    display: flex;
    max-width: 700px;
}


.foto-wrapper{
    display: flex;
    flex-wrap: wrap; 
    background-color: #F5F5F5;   
}

.foto-wrapper img{
    height: 400px;
    scale: 1.2;
    min-width: 500px;
    flex: 1 0 0;
    object-fit: contain;
}




/* Akkordeon */

.accordion {
    background-color: transparent;
    cursor: pointer;
    padding: 24px 24px 24px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #C4C5C7;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.8s;
}
  
.accordion:hover {
    background-color: #F5F5F5;
  }
  
.accordion:after {
    content: url(/IMG/SVG´s/Vector\ 9.svg);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: url(/IMG/SVG´s/Vector\ 8.svg);
}
  
.panel {
    display: flex;
    flex-direction: column;
    padding: 0px px;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.accordion-wrapper{
    display: flex;
    flex-direction: column;
}

.panel p {
    padding-top: 24px;
}

.accordion span{
    font-weight: 50;
    color: #C4C5C7;
}

.panel img{
    display: flex;
    width: 100%;
    max-height: 280px; 
    object-fit: contain;
    padding: 24px 0;
}

.accordion-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 0 160px 0;
}

.reflection{
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    width: 100%;
}

.reflection div{
    display: flex;
    justify-content: space-between;
    width: 75%;
    max-width: 1200px;
    padding: 160px 0 160px 0;
}

.next-project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 80px 0 80px 0;
}


/* About */

.skill-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;
    padding: 80px 0 80px 0;
    background-color: #F5F5F5;
}

.skill-wrapper h3{
    text-align: center;
}

.skill-card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 24px;
    max-width: 250px;
    background-color: #fff;
}

.experience-wrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.experience{
    display: flex;
    width: 100%;
    gap: 32px;
    max-width: 700px;
}

.line-dot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 4px 0;
}

.dot{
    height: 12px;
    width: 12px;
    background-color: #C4C5C7;
    border-radius: 50%;
    display: inline-block;
}

.vl{
    border-left: 2px solid #C4C5C7;
    flex: 1 0 0;
}

.experience p{
    color: #C4C5C7;
    display: flex;
}

.work ol{
   margin: 24px 0 24px 24px;
}

.languages{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    width: 100%;
    max-width: 700px;
}



.mySwiper {
    max-width: 1120px;
    width: 100%;
    padding: 50px 10px;
}
  
.swiper-slide{
    background-color: white;
    height: 100px;
}
  
.swiper-container{
    margin: 0 32px;
    overflow: hidden;
}
  
.swiper-button-next::after,
.swiper-button-prev::after{
    color: rgb(160, 160, 160);
    font-size: 16px;
    font-weight: bold;
}
  
.swiper-pagination-bullet{
    width: 16px;
    height: 7px;
    border-radius: 25px;
    background-color: rgb(181, 181, 181);
}